<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text" style="font-size: 12px;">Smart Home Automation System</h4>
        </div>
        <!-- <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
        </div> -->
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="dashboard">
                <div class="parent-icon"><i class='bx bx-home-circle'></i>
                </div>
                <div class="menu-title">Dashboard</div>
            </a>
        </li>
        <li>
            <a href="/dashboard/device-management">
                <div class="parent-icon"><i class="bx bx-category"></i>
                </div>
                <div class="menu-title">Device Management</div>
            </a>
        </li>
        <li>
            <a href="/dashboard/room-management">
                <div class="parent-icon"><i class="bx bx-bookmark-heart"></i>
                </div>
                <div class="menu-title">Room and Zone Managemen</div>
            </a>
        </li>
        <li>
            <a href="/dashboard/automation-management">
                <div class="parent-icon"><i class="bx bx-repeat"></i>
                </div>
                <div class="menu-title">Automation and Scheduling</div>
            </a>
        </li>
        <li>
            <a href="/dashboard/energy-management">
                <div class="parent-icon"><i class="bx bx-donate-blood"></i>
                </div>
                <div class="menu-title"> Energy Consumption and Monitoring</div>
            </a>
        </li>
        <li>
            <a href="/dashboard/device-maintainance">
                <div class="parent-icon"><i class="bx bx-category"></i>
                </div>
                <div class="menu-title">Maintenance and Diagnostics</div>
            </a>
        </li>
        <li>
            <a href="/dashboard/security">
                <div class="parent-icon"><i class="bx bx-message-square-edit"></i>
                </div>
                <div class="menu-title">Security and Surveillance</div>
            </a>
        </li>
        <li>
            <a href="/dashboard/voice-mobile">
                <div class="parent-icon"><i class="bx bx-user-circle"></i>
                </div>
                <div class="menu-title">Voice and Mobile Control Integration</div>
            </a>
        </li>
        <li>
            <a href="/dashboard/user-preferences">
                <div class="parent-icon"><i class="bx bx-menu"></i>
                </div>
                <div class="menu-title">User Preferences and Settings</div>
            </a>
        </li>
        <li>
            <a href="/dashboard/notification">
                <div class="parent-icon"><i class="bx bx-folder"></i>
                </div>
                <div class="menu-title"> Notifications and Alerts</div>
            </a>
        </li>
        <li>
            <a href="/dashboard/reports">
                <div class="parent-icon"><i class="bx bx-right-arrow-alt"></i>
                </div>
                <div class="menu-title">Reporting and Analytics</div>
            </a>
        </li>
        <li>
            <a href="/dashboard/accessibility">
                <div class="parent-icon"><i class="bx bx-bookmark-heart"></i>
                </div>
                <div class="menu-title">Multi-Platform Accessibility</div>
            </a>
        </li>
        
    
    </ul>
    <!--end navigation-->
</div>
