<div class="card border-top border-0 border-4 border-primary">
    <div class="card-body p-5">
      <div class="card-title d-flex align-items-center">
        <div><i class="bx bxs-device me-1 font-22 text-primary"></i>
        </div>
        <h5 class="mb-0 text-primary">Multi-Platform Accessibility</h5>
        <div class="ms-auto"><a href="javascript:;" class="btn btn-primary radius-30 mt-2 mt-lg-0"><i class="bx bxs-plus-square"></i>Add New</a></div>
      </div>
      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Access. ID</th>
            <th>Type</th>
            <th>Generated Date</th>
            <th>Data</th>
            <th>Created By</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let report of reports">
            <td>{{ report.reportId }}</td>
            <td>{{ report.type }}</td>
            <td>{{ report.generatedDate }}</td>
            <td>{{ report.data }}</td>
            <td>{{ report.createdBy }}</td>
            <td>
              <!-- <button class="btn btn-primary" (click)="editReport(report)">Edit</button>
              <button class="btn btn-danger" (click)="deleteReport(report)">Delete</button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>