<div class="card border-top border-0 border-4 border-primary">
    <div class="card-body p-5">
      <div class="card-title d-flex align-items-center">
        <div><i class="bx bxs-device me-1 font-22 text-primary"></i>
        </div>
        <h5 class="mb-0 text-primary">Energy Consumption</h5>
        <div class="ms-auto"><a href="javascript:;" (click)="addNew()" class="btn btn-primary radius-30 mt-2 mt-lg-0"><i class="bx bxs-plus-square"></i>Add New</a></div>
      </div>
      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Usage ID</th>
            <th>Device ID</th>
            <th>Consumption (kWh)</th>
            <th>Time Period</th>
            <th>Energy Cost ($)</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let energyConsumption of energyConsumptions">
            <td>{{ energyConsumption.usageId }}</td>
            <td>{{ energyConsumption.deviceId }}</td>
            <td>{{ energyConsumption.consumption }}</td>
            <td>{{ energyConsumption.timePeriod }}</td>
            <td>{{ energyConsumption.energyCost }}</td>
            <td>
                <a href="javascript:;" class=""><i class='bx bxs-edit'></i></a>
                <a href="javascript:;" class="ms-3"><i class='bx bxs-trash'></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>